<div class="container">
    <div class="card">
        <div class="card-header">
            {{title}}
        </div>
        <div class="card-body m-0">
            <form>
                <div class="form-group row">
                    <label for="id" class="col-form-label col-sm-2">Id:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="id" [(ngModel)]="subject.id">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="description" class="col-form-label col-sm-2">Description:</label>
                        <input type="text" class="form-control" name="description" [(ngModel)]="subject.description">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="number" class="col-form-label col-sm-2">Journey:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="journey" [(ngModel)]="subject.journey">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="number" class="col-form-label col-sm-2">Quater:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="quater" [(ngModel)]="subject.quater">
                    </div>
                </div>
                <button class="btn btn-success" role="button" (click)="create()" *ngIf="actionValue=='/subject/form' else elseBlock">Register</button>
                <ng-template #elseBlock>
                    <button class="btn btn-warning" role="button" (click)="update()">Update</button>
                </ng-template>
            </form>
        </div>
    </div>
</div>
