 <!-- Fixed navbar -->
 <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">App Notes Upload</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/dashboard">Home</a></li>
        <li><a routerLink="/evaluation">Evaluations</a></li>
        <li><a routerLink="/section">Sections</a></li>
        <li><a routerLink="/student">Students</a></li>
        <li><a routerLink="/subject">Subjects</a></li>
        <li><a routerLink="/teacher">Teachers</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!userLoginOn">
          <a routerLink="/login">Log in</a>
        </li>
        <li><a routerLink="/">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>





