<router-outlet>
    <div class="jumbotron text-center">
       <h1>App Notes Upload</h1>
       <p>Example of App Notes Upload with:  <fa-icon [icon]="['fab', 'angular']"></fa-icon> Angular Frontend + <fa-icon [icon]="['fab', 'node']"></fa-icon> Node.js - Express.js Backend + Security JWT Token</p>
     </div>
   <div class="col-sm-12 text-center">
     <a class="btn btn-default" [routerLink]="['/register']">SignUp</a> <a class="btn btn-default" [routerLink]="['/login']">Login</a>
   </div>  
</router-outlet>